body {
    background-image: url('images/bgf.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

section {
    flex: 1;
}

footer {
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}

header img {
    transform: scale(0.85);
    margin-right: -15px;
}

h2, p {
    margin: 0;
    color: rgba(15, 98, 254, 1);
}

p {
    font-weight: 500;
    font-size: 18px;
}

.footer-style {
    color: rgba(112, 112, 112, 1);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.menu-container {
    position: absolute;
    top: 38px;
    right: 30px;
    display: flex;
    gap: 40px;
}

.menu {
    margin: 0;
    font-size: 15px;
    color: rgba(112, 112, 112, 1);
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.05);
}

.menu-on {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: rgba(15, 98, 254, 1);
    cursor: pointer;
}

form {
    margin: 20px auto;
    padding: 50px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.05);
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changepass-title {
    text-align: center;
    color: rgba(15, 98, 254, 1);
    font-size: 22px;
    margin-bottom: 40px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(112, 112, 112, 1);
}

form input[type="text"] {
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    background: rgba(15, 98, 254, 1);
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
    border: none;
    padding: 16px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

form button:hover {
    background: rgb(1, 83, 235);
    transform: scale(1.01);
}

form input[type="text"]:focus,
form button:focus {
    outline: none;
    border: 1px solid rgba(15, 98, 254, 1);
}

@media only screen and (max-width: 650px) {
    header {
        height: 55px;
    }

    footer {
        height: 1px;
    }

    header img {
        transform: scale(0.50);
        margin-left: -20px;
    }

    .title-head {
        margin-left: -12px;
    }

    section, form {
        width: calc(100% - 70px);
        margin: 5px auto;
        padding: 15px;
    }

    h2 {
        font-size: 16px;
    }

    form button {
        margin-top: -25px;
        padding: 8px 15px;
        font-size: 10px;
    }

    form input[type="text"] {
        padding: 4px;
        font-size: 8px;
    }

    .form-group {
        margin-bottom: 2px;
        margin-top: -15px;
    }

    .form-group label {
        margin-top: -5px;
        margin-bottom: 2px;
        font-size: 7px;
    }

    .changepass-title {
        font-size: 11px;
        margin-bottom: 40px;
    }

    p {
        font-size: 11px;
    }
    
    .footer-style {
        font-size: 7px;
    }

    .menu {
        font-size: 9px;
        right: 5;
    }
    
    .menu-on {
        font-size: 7px;
        font-weight: 700;
    }

    .menu-container {
        top: 25px;
        right: 15px;
        gap: 15px;
    }
}