body {
    background-image: url('./images/bgb.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

section {
    flex: 1;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

footer {
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}

header img {
    transform: scale(0.85);
    margin-right: -15px;
}

h2, p {
    margin: 0;
    color: rgba(15, 98, 254, 1);
}

p {
    font-weight: 500;
    font-size: 18px;
}

.footer-style {
    color: rgba(112, 112, 112, 1);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.menu-container {
    position: absolute;
    top: 38px;
    right: 30px;
    display: flex;
    gap: 40px;
}

.menu {
    margin: 0;
    font-size: 15px;
    color: rgba(112, 112, 112, 1);
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.05);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}


.item {
    cursor: pointer;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 150px;
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
    gap: 10px;
}

.item img {
    margin-top: 10px;
    width: 75px;
    height: auto;
    object-fit: cover;
}

.item-text {
    font-size: 14px;
    color: rgba(15, 98, 254, 1);
    margin-top: 8px;
    font-weight: 500;
}

.item:hover {
    background: rgb(250, 250, 250);
    transform: scale(1.01);
}

@media only screen and (max-width: 650px) {
    header {
        height: 55px;
    }

    footer {
        height: 1px;
    }

    header img {
        transform: scale(0.50);
        margin-left: -20px;
    }

    .title-head {
        margin-left: -12px;
    }

    section, form {
        width: calc(100% - 70px);
        margin: 5px auto;
        padding: 15px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 11px;
    }
    
    .footer-style {
        font-size: 7px;
    }

    .menu {
        font-size: 9px;
    }

    .menu-container {
        top: 25px;
        right: 15px;
        gap: 15px;
    }

    .main-container {
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .item {
        width: 70px;
        height: 72px;
        padding: 15px;
        gap: 8px;
    }
    
    .item img {
        margin-top: -1px;
        width: 40px;
    }
    
    .item-text {
        font-size: 8.5px;
        margin-top: 5px;
        font-weight: 550;
    }
}