body {
    background-image: url('./images/bgf.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

footer {
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}

header img {
    transform: scale(0.85);
    margin-right: -15px;
}

h2, p {
    margin: 0;
    color: rgba(15, 98, 254, 1);
}

p {
    font-weight: 500;
    font-size: 18px;
}

.footer-style {
    color: rgba(112, 112, 112, 1);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

section {
    flex: 1;
}

form {
    margin: 20px auto;
    padding: 50px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.05);
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    text-align: center;
    color: rgba(15, 98, 254, 1);
    font-size: 26px;
    margin-bottom: 40px;
}

#invalid-msg {
    display: block;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    color: rgb(255, 0, 8);
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 5px 30px rgb(255, 0, 8);;
}

.forgot-password-link {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgba(15, 98, 254, 1);
    font-size: 14px;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    width: 100%;
}

#password {
    padding: auto 0 auto auto;
}

input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    cursor: pointer;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(112, 112, 112, 1);
}

form input[type="text"] {
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgba(112, 112, 112, 1);
}

.login-button {
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(15, 98, 254, 1);
    color: white;
    margin-top: 35px;
    border: none;
    padding: 16px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
}

.login-button:hover {
    background: rgb(1, 83, 235);
    transform: scale(1.01);
}

form input[type="text"]:focus {
    outline: none;
    border: 1px solid rgba(15, 98, 254, 1);
    color: rgba(112, 112, 112, 1);
}

@media only screen and (max-width: 500px) {
    header {
        height: 50px;
    }

    footer {
        height: 1px;
    }

    header img {
        transform: scale(0.50);
        margin-left: -20px;
    }

    .title-head {
        margin-left: -12px;
    }

    section, form {
        width: calc(100% - 70px);
        margin: 5px auto;
        padding: 15px;
    }

    h2 {
        font-size: 16px;
    }

    .login-button {
        margin-top: 35px;
        padding: 8px 15px;
        font-size: 13.4px;
    }

    form input[type="text"] {
        padding: 4px;
        font-size: 10.8px;
    }

    .form-group {
        margin-bottom: 2px;
        margin-top: -10px;
    }

    .form-group label {
        margin-top: -5px;
        margin-bottom: 2px;
        font-size: 9.4px;
    }

    .login-title {
        font-size: 17.4px;
        margin-top: 10px;
    }
    
    .forgot-password-link {
        font-size: 9.4px;
        margin-top: -7px;
    }

    p {
        font-size: 11px;
    }
    
    .footer-style {
        font-size: 9.4px;
    }

    .input-icon {
        right: 5px;
        top: 53%;
        width: 20px;
    }
}